menu
    menu-item(
        href="/"
    )
        | Kepler

    menu-item(
        active=(page === 'features').toString()
        href="/features"
    )
        | Features

    menu-item(
        active=(page === 'pricing').toString()
        href="/pricing"
    )
        | Pricing

    menu-item(
        active=(page === 'docs').toString()
        href="/docs"
    )
        | Docs

    menu-item(
        align="right",
        title="Remove this in production"
    )
        | Browsersync go away
