extends /layouts/default

block content
    main.g--row
        section.g--auto
            h1.
                Kepler
            p.g--row.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce commodo ac magna
                eget tempus. Integer scelerisque libero vitae libero sagittis varius. Vestibulum
                interdum fermentum condimentum. Aenean ac tincidunt sem, in rhoncus odio. In
                blandit ornare ipsum id sodales. Etiam in odio dignissim, condimentum elit at,
                rhoncus libero. Fusce suscipit sit amet ipsum eu mollis. Praesent efficitur eget
                nisl non consectetur.
            p.g--row.
                Sed turpis lacus, volutpat nec ex vulputate, gravida fermentum urna. Proin et quam
                neque. Fusce accumsan arcu enim, non suscipit metus rhoncus nec. Mauris eleifend
                consectetur dui, a fermentum arcu iaculis in. Interdum et malesuada fames ac ante
                ipsum primis in faucibus. Morbi porttitor vehicula dui ultrices viverra. Fusce ut
                est ac ipsum dignissim scelerisque. Quisque ac pretium turpis, eu fermentum ligula.
                Cras interdum orci velit. Proin imperdiet enim ligula, in ultrices libero malesuada
                a. Fusce placerat leo ut elit ultricies, in aliquam tortor tempus. Nulla facilisi.
                Sed in fringilla urna, vel finibus arcu. Vestibulum posuere molestie arcu in
                placerat.

        form.g--third.login(novalidate)
            h3
                | Sign up or log in

            input(
                type="email",
                placeholder="E-mail address",
                autocomplete="off",
                v-model="email",
                v-validate="required, maxLength: 100, pattern: /.+@.+\\..{2,}/"
                v-on="focus: focusInput('email'), blur: blurInput('email')"
                v-class="is-error: emailError && validation.email.invalid"
            )
            template(v-if="emailError")
                div.form--message.is-error(v-if="validation.email.required")
                    | Please enter your e-mail address
                template(v-if="email")
                    div.form--message.is-error(v-if="validation.email.maxLength")
                        | Your e-mail is too long
                    div.form--message.is-error(v-if="validation.email.pattern")
                        | Invalid e-mail address

            input(
                type="password",
                placeholder="Password"
                autocomplete="off",
                v-model="password",
                v-validate="required, minLength: 4, maxLength: 100"
                v-on="focus: focusInput('password'), blur: blurInput('password')"
                v-class="is-error: passwordError && validation.password.invalid"
            )
            template(v-if="passwordError")
                div.form--message.is-error(v-if="validation.password.required")
                    | Please enter a password
                template(v-if="password")
                    div.form--message.is-error(v-if="validation.password.minLength")
                        | Your password is too short
                    div.form--message.is-error(v-if="validation.password.maxLength")
                        | Your password is too long
                    div.form--message.is-error(v-if="passwordIncorrect")
                        | Incorrect password

            template(v-if="emailAvailable")
                input(
                    type="password",
                    placeholder="Re-type password",
                    v-model="password2",
                    v-validate="required",
                    v-on="focus: focusInput('password2'), blur: blurInput('password2')",
                    v-class="is-error: password2Error && validation.password2.invalid"
                )
                template(v-if="password2Error")
                    div.form--message.is-error(v-if="validation.password2.required")
                        | Please confirm your password
                    div.form--message.is-error(v-if="password2 && passwordMismatch")
                        | Your passwords do not match

                input(
                    type="text",
                    placeholder="Your name",
                    v-model="name",
                    v-validate="required, maxLength: 100, pattern: /.+\\s+.+/"
                    v-on="focus: focusInput('name'), blur: blurInput('name')"
                    v-class="is-error: nameError && validation.name.invalid"
                )
                template(v-if="nameError")
                    div.form--message.is-error(v-if="nameError && validation.name.required")
                        | Please enter your name
                    template(v-if="name")
                        div.form--message.is-error(v-if="validation.name.maxLength")
                            | Your name is too long
                        div.form--message.is-error(v-if="validation.name.pattern")
                            | Please enter your full name

            button.btn.btn--primary(
                type="submit",
                v-text="emailAvailable? 'Sign up': 'Log in'",
                v-on="click: submitForm"
            )
